<!-- <div class="card-wrapper"> -->

    <div class="movie-card" [routerLink]="['/movies', movie.id]">
        <div class="poster-container">
            <!-- <img [src]="movie.poster_path | posterUrl:'w92'" [alt]="movie.title" class="poster" /> -->
            <!-- <img [src]="'https://image.tmdb.org/t/p/'+'/original'+movie.poster_path" [alt]="movie.title" class="poster" /> -->
            <img [src]="movie.poster_path | posterUrl" [alt]="movie.title" class="poster" />
            

            @if(movie.vote_average > 7){
                
                <span class="pers greater">{{movie.vote_average | calcPrecentageOfVoteAverage  }}%</span>
            }@else {
                <span class="pers less">{{movie.vote_average | calcPrecentageOfVoteAverage  }}%</span>
                
            }
        
    </div>
    <div class="first-ele">
            <h3 class="title">{{ movie.title }}</h3>
            <app-heart-icon class="wishlist-button" (click)="toggleWishlist($event)"
            [ngClass]="{ 'active': isInWishlist() }" [size]="'2rem'"
            [filled]="isInWishlist()"></app-heart-icon>
            
    </div>
    <div class="movie-info">
        <div class="details">
            <span class="release-date">{{ movie.release_date | monthTranform }} </span>
            <span class="rating">
                <i class="pi pi-star-fill"></i>
                {{ movie.vote_average | number:'1.1-1' }}
            </span>
        </div>
    </div>
<!-- </div> -->

</div>
