.movies{
    width: 100%;
    padding: 2rem 0;
    .container{
        margin: auto;
        
        width: 80%;
        .search-wrapper{
            background-color: #f3f1f1;
            padding: 37px 35px 49px 47px;
            margin: 21px 0;
            border-radius: 20px;
            h2{
                font-size: 32px;
                font-weight: 600;
                font-family: Georgia, 'Times New Roman', Times, serif;
            }
            p{
                margin-top: 35px;
                font-style: 14px;
                font-weight: 400;
                
            }
        input{
            background-color: #fff;
            padding:0.5rem 1rem ;
            width: 80%;
            border-radius: 10px;
            color: #4c4747;
            &:focus{
                font-size: 20px;
            }
            &::placeholder{
                font-size: 16px;
            }
        }
        button{
            background-color:#04648a;
            color: white;
            margin-left:29px ;
            padding:12px 36px;
            font-weight: bold   ;
            border-radius: 10px;
            border: none;

        }
    }
     .now{
        font-size: 32px;
        font-weight: 600;
        color: rgba(0, 0, 0, 1);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding:1rem 0;
    }
    .movie-grid{
        display: grid;
         grid-template-columns: repeat(4, 1fr);
  gap: 16px
    }
    // .movie-grid{
    //     width: 100%;
    //     background-color: #c1c1c11a;
    //     border-radius: 30px;
    //     .wrapper{
    //         display: flex;
    //         flex-wrap: wrap;
    //         justify-content: space-evenly;
            
    //     }
        
    // }
   
}
}